@model IEnumerable<MVCMusicStore.Models.Artist>

@{
    ViewBag.Title = "title";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>

@foreach (var artist in Model)
{
    <h1>Name: @Html.DisplayFor(a => artist.Name)</h1>
    <h1>@Html.DisplayFor(u => artist.Description)</h1>
}